@import "tailwindcss";

@layer base {
    :root {
        --font-display: "Manrope", sans-serif;
    }

    body {
        font-family: var(--font-display);
        font-optical-sizing: auto;
        font-style: normal;
    }

    h1 {
        @apply text-xl;
    }

    h2 {
        @apply text-lg;
    }

    h3 {
        @apply text-base font-semibold;
    }

    h4 {
        @apply text-sm font-semibold;
    }
}

@theme {
    --color-primary : #5142ff;
    --color-light-gray : #f8f8f8;
    --color-dark-gray : #9a9a9a;
}

@layer components {
    .container {
        @apply p-6 rounded-xl bg-white;
    }

    .bg-color__black {
        background-color: #0f0f0f;
    }

    .navbar__menu {
        @apply flex flex-col gap-1
    }

    .navbar__link {
        @apply flex items-center gap-2 w-full h-full py-2 text-sm font-semibold rounded-xl;
        @apply hover:px-3 hover:bg-light-gray
    }

    .navbar__icon {
        @apply text-dark-gray
    }
}