@import "tailwindcss";

@layer base {
    :root {
        --font-display: "Manrope", sans-serif;
    }

    body {
        font-family: var(--font-display);
        font-optical-sizing: auto;
        font-style: normal;
    }

    h1 {
        @apply text-xl;
    }

    h2 {
        @apply text-lg;
    }

    h3 {
        @apply text-base font-semibold;
    }

    h4 {
        @apply text-sm font-semibold;
    }
}

@theme {
    --color-primary : #5142ff;
    --color-light-gray : #f8f8f8;
    --color-dark-gray : #9a9a9a;
}

@layer components {
    .container {
        @apply p-6 rounded-xl bg-white;
    }

    .bg-color__black {
        background-color: #0f0f0f;
    }

    .navbar__menu {
        @apply flex flex-col gap-1
    }

    .navbar__link {
        @apply flex items-center gap-2 w-full h-full py-2 text-sm font-semibold rounded-xl;
        @apply hover:px-3 hover:bg-light-gray
    }

    .navbar__icon {
        @apply text-dark-gray
    }

    .task {
        @apply flex justify-evenly items-center gap-4 w-full py-4;
        @apply border-b-2 border-b-light-gray
    }

    .task__checkbox {
        @apply w-5 h-5 border-2 border-light-gray rounded-3xl accent-primary
    }

    .task__label {
        @apply flex flex-col gap-1 grow
    }

    .task__label .task__category {
        @apply flex items-center gap-2 text-[11px] font-medium
    }

    .priority_label {
        @apply flex justify-between items-center px-3 py-2 gap-2 rounded-md text-xs font-semibold
    }

    .priority_label.high {
        @apply text-yellow-400 bg-yellow-50
    }

    .priority_label.medium {
        @apply text-blue-400 bg-blue-50
    }

    .priority_label.low {
        @apply text-green-400 bg-green-50
    }

    .priority_label .dot_icon {
        @apply w-2 h-2 rounded-full before:content-[''] after:content-['']
    }

    .priority_label .dot_icon.high {
        @apply bg-yellow-400
    }

    .priority_label .dot_icon.medium {
        @apply bg-blue-400
    }

    .priority_label .dot_icon.low {
        @apply bg-green-400
    }

    .add_task {
        @apply flex justify-between items-center gap-2 px-4 py-2 rounded-lg text-xs font-semibold cursor-pointer border-2 border-light-gray bg-white text-dark-gray;
        @apply hover:border-2 hover:border-primary
    }

    .icon {
        @apply w-5 h-5
    }
}